<div class="row">
	<div class="two columns">
		<%= link_to 'Back', "/", {:style=>'text-align:center; margin-top:2rem;', :class => "button"} %>
	</div>
</div>
<div class="row">
	<div class="nine columns">
		<h3>How To Use The Client Portal:</h3>

		<ol>
		<li><h6>Sign in with your credentials provided below</h6>

		<ul><li><p>The Ticket System is accessible through the direct link below and will also be available from within D7</p></li>
		<li><p>Your company shares one set of login credentials and only users who are provided with the login information by you will be able to enter tickets</p></li></ul></li>
		<li><h6>You will see two options – Support Tickets and Requests</h6>

		<ul><li><p>The Support Ticket is used to report a bug or issue with an existing feature or function within the D7 platform that is not working properly.</p></li>
		<li><p>The New Request is used to request a feature or function you would like to see within the D7 platform that does not currently exist.</p></li></ul></li>
		<li><h6>In order to submit a New Support Ticket or Request, first select View Support Tickets or View Requests from the main page</h6></li>
		<li><h6>Next select "New Support Ticket" or "New Request" in the upper left-hand corner to get started with submission</h6></li>
		<li><h6>Fill out all fields and fully explain the bug, or request</h6>
		<ul>
			<li><p>Title of ticket</p></li>

			<li><p>Email</p></li>

			<li><p>Reporter (of issue)</p></li>

			<li><p>Priority (select from default options)</p></li>

			<li><p>Org ID</p></li>

			<li><p>D7 Category (email, chat, social, sms, Admin)</p></li>

			<li><p>Images</p></li>

			<li><p>Details</p></li>
		</ul>
		<li><h6>Be sure to provide your email address in order for you to be notified on the ticket progress</h6></li>
		<li><h6>You will also need to include the email addresses of any additional team members that you want to be notified of the ticket submission and to be notified of any updates on the ticket progress</h6></li>
		<li><h6>Any screenshots or attachments can be added by clicking the "choose files" button and uploading them from your computer</h6></li>
		<li><h6>After all data fields and details are completed, Click the "Submit Ticket" button </h6></li>
		<li><h6>You will receive an automated email response confirming that your ticket has been submitted, so check your email to confirm your ticket has successfully been submitted.</h6></li>
		<li><h6>Ignite will assess the priority level of the support ticket or request and you will receive an update from the Ignite team within 24 hours for all support tickets and within 48 hours for all requests</h6></li>
		<li><h6>Ignite’s initial response to a ticket or request will request additional information if it is needed or provide an ETA on when the issue will be resolved or fully scoped out</h6></li>
		<li><h6>Any items that are identified as a high priority by Ignite will be handled appropriately with an expedited response. </h6></li>
		<li><h6>Any Outage issues will automatically initiate additional alerts to Ignite for urgent response  </h6></li>
		<li><h6>You will be notified via email that an update has been made to the ticket and will be able to click from the email to the ticket to see the update</h6></li>
		<li><h6>In order to check on the status of your ticket at any time or those of any ticket, log into the portal and click the "View Requests" button. You can also search for your ticket manually by typing in the title of your ticket (the title is the name you gave the ticket)</h6></li>
		</ol>
	</div>
</div>

