<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" type="text/css" href="/assets/application-0898c128b5a4a74270991c9832c8749d.css">
  </head>
  <body>
  	<div class="container">
	    <h1>Thanks for opening a ticket!</h1>
	    <h4>We will get back to you soon after reviewing what you reported.</h5><br>
	    <h5>Thanks,</h5>
	    <h5>Ignite Media Team</p>
    </div>
  </body>
</html>