<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" type="text/css" href="/assets/application-0898c128b5a4a74270991c9832c8749d.css">
  </head>
  <body>
  	<div class="container">
	    <h4>Thanks for opening a ticket!</h4>
	    <hp>We will get back to you within a maximum of 24 hours after reviewing what you have reported.</p><br>
	    <p>Thanks,</p>
	    <p>Ignite Media Team</p>
    </div>
  </body>
</html>