<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" type="text/css" href="/assets/application-0898c128b5a4a74270991c9832c8749d.css">
  </head>
  <body>
    <div class="container">
      <h1>A response has been added to your support ticket. </h1>
      <p>Please take the time to review the reponse below: </p><br>
      <h4><%= @comment.body %></h4> <br>
      <p>You can respond by clicking <a href="<%= bug_url(@comment.bug) %>#comment<%= @comment.id %>">here</a>.</p><br>
      <h5>Thanks,</h5>
      <h5>Ignite Media Team</p>
    </div>
  </body>
</html>