<%= link_to 'Back', bugs_path, {:style=>'text-align:center; margin-top:2rem;', :class => "button"} %>
<% if admin_signed_in? %>
  | <%= link_to 'Destroy', @bug, { method: :delete, :style=>'text-align:center; margin-top:2rem;', :class => "button", data: { confirm: 'Are you sure?' }} %>
<% end %>

<div class="twelve columns"><h1>Edit Ticket</h1></div>

<%= render 'form' %>


