<br><br>
<% if request.fullpath[1..9].downcase == "decision7" %>
  <%= link_to 'Back', "/decision7/tickets", {:style=>'text-align:center; margin-top:2rem;', :class => "button"} %>
<% else %>
  <%= link_to 'Back', "/ignitetek/tickets", {:style=>'text-align:center; margin-top:2rem;', :class => "button"} %>
<% end %>
<h2>New Support Ticket</h2>

<%= render 'form' %>

