$tabs-base-color: rgba(255,255,255,.5);

body {
	font-size: 1.3em;
}

#bug_images {
	margin-top: 20px;
}

.button {
	background: -webkit-linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,1));
  background: -o-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,1));
  background: -moz-linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,1));
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1));
}

.container {
	margin-top: 5%;
}

.comments-form {
	display: none;
	margin-left: 0%;
}

.comments-button {
	margin-bottom: 1.5rem;
}

.comment-date {
	font-size: 0.9em;
	margin-left: 10px;
}

.field {
	margin-right: 5px;
}

#flash_alert {
	color: red;
	font-size: 1.5em;
}

.hero {
	height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1433840496881-cbd845929862?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8dcb8262ded1206ca0d426a52fe19300");
  background-size: cover;
  background-position: center;
  font-weight: 700;
  text-align: center;
}

.hero h1 {
	padding-top:10%;
	color: white;
}

.nav {
	background: -webkit-linear-gradient(left, rgba(238,233,233,.5), rgba(238,233,233,.55));
  background: -o-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
  background: -moz-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
  background: linear-gradient(to right, rgba(238,233,233,.5), rgba(238,233,233,.55));
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(1,1,1,.1);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #2ECC40;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.search {
	text-align:center;
	margin-top: 20px;
}

.tabs {
  float: none;
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
  margin-left: 0;
  text-align: left;
  li {
    float: left;
    display: block;
    margin-bottom: 0;
  }
  a {
    display: block;
    padding: 14px 21px;
    position: relative;
    text-decoration: none;
    color: black;
    &:hover {
	    background-image: -webkit-linear-gradient(left, rgba(238,233,233,.5), rgba(238,233,233,.55));
  		background-image: -o-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
  		background-image: -moz-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
  		background-image: linear-gradient(to right, rgba(238,233,233,.5), rgba(238,233,233,.55));
	    border-radius: 2px 2px 0 0;
	  }
  }
  .tab-content{
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;
    position: absolute;
    top: 53px;
    left: 0;
    background-image: -webkit-linear-gradient(left, rgba(238,233,233,.5), rgba(238,233,233,.55));
		background-image: -o-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
		background-image: -moz-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
		background-image: linear-gradient(to right, rgba(238,233,233,.5), rgba(238,233,233,.55));
  }
}

.tab-active {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  background-image: -webkit-linear-gradient(left, rgba(238,233,233,.5), rgba(238,233,233,.55));
	background-image: -o-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
	background-image: -moz-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
	background-image: linear-gradient(to right, rgba(238,233,233,.5), rgba(238,233,233,.55));
  cursor: pointer;
  position: relative;
  @include transition(all 0.2s ease-in-out);
}

.tab-content {
  background-image: -webkit-linear-gradient(left, rgba(238,233,233,.5), rgba(238,233,233,.55));
	background-image: -o-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
	background-image: -moz-linear-gradient(right, rgba(238,233,233,.5), rgba(238,233,233,.55));
	background-image: linear-gradient(to right, rgba(238,233,233,.5), rgba(238,233,233,.55));
	padding-left: 25px;
	padding-right: 25px;
}

u {
	text-decoration: none;
	border-bottom: 1px solid black;
}

.ui-autocomplete li {
	list-style: none;
}

@media only screen and (max-width: 600px)  {
	.container {
		margin-top: 17%;
	}

	button {
		max-width: 50px !important;
	}
}

@media only screen and (max-width: 950px) and (min-width: 601px) {
	.container {
		margin-top: 10%;
	}
}

@media only screen and (max-width: 850px) {
	.search {
		display: none;
	}

	#bugsearch {
		display: none;
	}

	#requestsearch {
		display: none;
	}
}

@media only screen and (max-width: 915px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	th:first-child, td:first-child {
  	padding-left: 50%;
  }
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Status"; }
	td:nth-of-type(2):before { content: "Date"; }
	td:nth-of-type(3):before { content: "Category"; }
	td:nth-of-type(4):before { content: "Title"; }
	td:nth-of-type(5):before { content: "Bugster"; }
	td:nth-of-type(6):before { content: "Email"; }
}
