body {
	font-size: 1.3em;
}

#bug_images {
	margin-top: 20px;
}

.comments-form {
	display: none;
	margin-left: 0%;
}

.comments-button {
	margin-bottom: 1.5rem;
}

.comment-date {
	font-size: 0.9em;
	margin-left: 10px;
}

.field {
	margin-right: 5px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #2ECC40;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

u {
	text-decoration: none;
	border-bottom: 1px solid black;
}

@media only screen and (max-width: 915px)  {
	
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	th:first-child, td:first-child {
  	padding-left: 50%; 
  }
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Status"; }
	td:nth-of-type(2):before { content: "Date"; }
	td:nth-of-type(3):before { content: "Category"; }
	td:nth-of-type(4):before { content: "Title"; }
	td:nth-of-type(5):before { content: "Bugster"; }
	td:nth-of-type(6):before { content: "Email"; }
}